.underline {
  position: absolute;
  background-color: rgb(200,200,200);
  height: 0.8px;
  width: 0%;
  bottom: 5px;
  left: 50%;
  border-radius: 0.8px;
  transition: width 0.2s ease-out, left 0.2s ease-out;
  mix-blend-mode: multiply;

}

.buttonImage {
  position: relative;
  width: 70px;
  height: 35px;
  text-decoration: "none";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
