@font-face {
  font-family: "Almoni Light";
  src: url("../fonts/almoni-dl-aaa-light.otf") format("opentype");
}

@font-face {
  font-family: "Almoni Black";
  src: url("../fonts/almoni-dl-aaa-black.otf") format("opentype");
}
@font-face {
  font-family: "Almoni Regulare";
  src: url("../fonts/almoni-dl-aaa-regular.otf") format("opentype");
}

@font-face {
  font-family: "Almoni Bold";
  src: url("../fonts/almoni-dl-aaa-bold.otf") format("opentype");
}
$backgroundColor: #fcf4f4;
