.wrapper {
  position: absolute;
  width: 60%;
  height: 100%;
  margin-left: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

}

