@import "../main.scss";


.wrapper{
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 100%;
  overflow: hidden;

}


.description{
  position:absolute;
  width: 70%;
  height: 100%;
  left: 0;
  text-align: left;
  font-family: "Almoni Light";
  font-size: 20pt;
  color: black;

}

.coverPicture{
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  height: 70%;
  left: 0;
  bottom: 0;
  width: 70%;


}

.fullScreen{
  position: absolute;
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
}

.arrow {
  position: absolute;
  bottom: 50%;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  z-index: 8;
  font-size: 25pt;
  transition: 0.2s ease-out;
  &:hover{
    color: black;
    font-size: 30pt;
  }
}

.rightArrow {
  right: 35px;
}

.leftArrow {
  left: 35px;
}

.itemGallery {
  position: absolute;
  width: 60%;
  height: 100%;
  margin-left: 20%;
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  bottom: 0;
}


.text {
  position: absolute;
  left: 0;
  top:0;
  font-family: "Almoni Light";
  direction: rtl;
  width: 40%;
  height: 90%;
}
